GETXAPI_API_KEY=your_getxapi_api_key_here
GETXAPI_AUTH_TOKEN=your_getxapi_auth_token_here
GETXAPI_USERNAME=optional_getxapi_login_username
GETXAPI_PASSWORD=optional_getxapi_login_password
GETXAPI_EMAIL=optional_getxapi_login_email
GETXAPI_TOTP_SECRET=optional_getxapi_totp_secret
GETXAPI_PROXY=optional_proxy_url
NVIDIA_API_KEY=nvidiapi_your_api_key_here
